<div>
	This page display task details.
	{{summary}}
	{{#link-to 'edit' this}}GoTo Edit{{/link-to}}
</div>

<div class="panel panel-primary">
	<div class="panel-heading">Task Details</div>
	<div class="panel-body" id="taskDetails">
		<h2 class="txt-info">{{ summary }}</h2>
		<div class="btn-group">
			<button type="button" id="editbtn" class="btn btn-default" ><span class="glyphicon glyphicon-pencil">Edit</span></button>
			<button type="button" id="resolvebtn" class="btn btn-default">Resolve Task</button>
			<button type="button" id="closebtn" class="btn btn-default">Close Task</button>
		</div>
		<div class="well">
			<div >
				<label>Priority :</label>
				<span> {{ priority }}</span>
			</div>
			<div >
				<label  >Due Date :</label>
				<span> {{ dueDate }}</span>
			</div>
			<div >
				<label  >Status :</label>
				<span> {{ status }}</span>
			</div>
			<div>
				<label>Description :</label>
				<span> {{ description }}</span>
			</div>
			<div >
				<label>Estimate Time :</label>
				<span> {{estimateTime }}</span>
			</div>
		</div>
	</div>
</div>